@use "constants" as *;

#root {
  min-height:100%;
  width:100%;
  height:100%;
  margin: 0 auto;
  text-align: center;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items: center;
  align-content: center;
  position:relative;
}

.svg {
  width: 100%;
  height: 100%;
  svg {
    text {
      fill: white;
      font: 10px sans-serif;
      text-anchor: end;
    }
  }

  #grid line {
    stroke: $color-darkbluehighlight;
    stroke-width: 2px;
  }

  circle {
    cursor: pointer;
  }

  circle.clicked {
    stroke-width: 5px;
  }

}

#repositionButtons {
  position: absolute;
  bottom:30px;
  right:30px;
  display:flex;
  flex-direction:column;
  z-index:1;

  button {
    background-color:$color-lighterblue;
    color:$color-textwhite;
    padding-left:10px;
    padding-right:10px;
    height:30px;
    border:1px solid $color-textwhite;
    border-radius:5px;
    font-size:15px;
    margin-top:15px;
  }
}

