@use "constants" as *;

#root {
  min-height:100%;
  width:100%;
  height:100%;
  margin: 0 auto;
  text-align: center;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items: center;
  align-content: center;
}

.svg {
  width: 100%;
  height: 100%;
  svg {
    text {
      fill: white;
      font: 10px sans-serif;
      text-anchor: end;
    }
  }

  #grid line {
    stroke: $color-darkbluehighlight;
    stroke-width: 2px;
  }

}

button.returnToCentre {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 200px;
  height: 30px;
  z-index: 1;
}