#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.svg {
  svg {
    rect {
      fill: orange;
    }

    text {
      fill: white;
      font: 10px sans-serif;
      text-anchor: end;
    }
  }
}