@use "constants" as *;

#root {
  div#selector {
    position:absolute;
    top:30px;
    left:30px;
    width:60%;
    padding-left:10px;
    padding-right:10px;
    height:30px;
    //border:1px solid $color-textwhite;

    box-shadow: $color-darkbluehighlight 0 0px 2px 5px;
    background-color: $color-darkbluehighlight;
    border-radius:10px;

    color:$color-textwhite;
    font-size:15px;
    z-index:1;

    span.APIinput{
      display:inline-block;
      width:70%;
      height:30px;
      span#genealogyIdText {
        width:30%;
      }

      input#genealogyId {
        width:50%;
      }
      input#maxGenerationsUp, input#maxGenerationsDown{
        width:5%;
      }

      span.disabled{
        display:block;
        position:absolute;
        top:0;
        left:5%;
        width:70%;
        height:100%;
        padding-bottom:2px;
        background-color:rgba(100,100,0,0.9);
      }

    }

    button {
      margin-left:5px;

    }
    input, select, button {
      margin-left:5px;
      padding:0;
      background-color:$color-darkbluehighlight;
      border-color:$color-textwhite;
      color:$color-textwhite;
      font-size:12px;
      height:30px;
      border:1px solid $color-textwhite;
      padding-left:3px;
      padding-right:3px;
      border-radius:3px;
    }

    button {
      padding-left:10px;
      padding-right:10px;
      background-color:$color-lighterblue;
      font-size:15px;
    }

    span {
      display:inline-block;
      margin:0;
      padding:0;
      line-height:20px;
    }



    span#spacer {
      width:3%;
    }

    span#presetText {
      width:10%;
    }





  }
}